In [1]:
import pandas as pd

In [2]:
#import the database (from Kaggle)
academy_db=pd.read_csv("Resources/the_oscar_award.csv")
academy_db.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

--------------------DATA CLEANING--------------------

In [3]:
#award names changed over the years so combined similar awards
award_combine={'WRITING ORIGINAL':[ 'WRITING (Motion Picture Story)','WRITING (Original Screenplay)',
            'WRITING (Original Motion Picture Story)','WRITING (Story and Screenplay--written directly for the screen)',
            'WRITING (Story and Screenplay)','WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
            'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
            'WRITING (Story and Screenplay--based on material not previously published or produced)', 'WRITING (Screenplay)',
            'WRITING (Original Story)','WRITING (Screenplay--Original)','WRITING (Screenplay Written Directly for the Screen)',
            'WRITING'],
        'WRITING ADAPTED':['WRITING (Adaptation)', 'WRITING (Adapted Screenplay)', 'WRITING (Screenplay--based on material from another medium)',
            'WRITING (Screenplay Based on Material Previously Produced or Published)',
            'WRITING (Screenplay--Adapted)', 'WRITING (Screenplay Based on Material from Another Medium)',
            'WRITING (Screenplay Adapted from Other Material)'],
        'ACTOR':['ACTOR','ACTOR IN A LEADING ROLE'],
        'ACTRESS':['ACTRESS','ACTRESS IN A LEADING ROLE'],
        'BEST PICTURE':['BEST MOTION PICTURE','OUTSTANDING MOTION PICTURE','OUTSTANDING PRODUCTION', 
                        'OUTSTANDING PICTURE','BEST PICTURE'],
        'DIRECTING':['DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)','DIRECTING'], 
        'COSTUME DESIGN':['COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)'],
            'MUSIC SCORE':['MUSIC (Scoring of Music--adaptation or treatment)','MUSIC (Original Music Score)',
           'MUSIC (Original Score--for a motion picture [not a musical])',
           'MUSIC (Score of a Musical Picture--original or adaptation)',
            'MUSIC (Music Score of a Dramatic or Comedy Picture)','MUSIC (Music Score of a Dramatic Picture)',
            'MUSIC (Scoring of a Musical Picture)','MUSIC (Original Dramatic Score)','MUSIC (Original Musical or Comedy Score)',
            'MUSIC (Original Score)','MUSIC (Scoring)',
            'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
           'MUSIC (Scoring: Adaptation and Original Song Score)',
            'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
            'MUSIC (Music Score--substantially original)','MUSIC (Adaptation Score)',
            'MUSIC (Original Song Score or Adaptation Score)'],  
        'CINEMATOGRAPHY':['CINEMATOGRAPHY (Black-and-White)',
           'CINEMATOGRAPHY (Color)','CINEMATOGRAPHY'],
        'PRODUCTION DESIGN':['PRODUCTION DESIGN','ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)','ART DIRECTION'],
        'SOUND EDITING':['SOUND','SOUND EFFECTS','SOUND EDITING','SOUND EFFECTS EDITING'],
        'SPECIAL EFFECTS':['SPECIAL VISUAL EFFECTS','SPECIAL EFFECTS', 'VISUAL EFFECTS'],
        'SOUND MIXING':['SOUND RECORDING', 'SOUND MIXING'],
        'MAKEUP':['MAKEUP', 'MAKEUP AND HAIRSTYLING'],
        'SONG ORIGINAL':['MUSIC (Song)','MUSIC (Song--Original for the Picture)',
                          'MUSIC (Original Song)','MUSIC (Original Song Score)',
                         'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
                        ]
        
        }
award_combine['SONG ORIGINAL']

['MUSIC (Song)',
 'MUSIC (Song--Original for the Picture)',
 'MUSIC (Original Song)',
 'MUSIC (Original Song Score)',
 'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)']

In [4]:
#drop the following categories
indexNames = academy_db.loc[(academy_db['category'] == 'DOCUMENTARY (Short Subject)') |
                        (academy_db['category'] == 'SPECIAL AWARD') | 
                            (academy_db['category'] =='SHORT SUBJECT (Cartoon)') |
                          (academy_db['category'] == 'SHORT SUBJECT (Comedy)') |
                           (academy_db['category'] == 'SHORT SUBJECT (Novelty)')|
                           (academy_db['category'] == 'SHORT SUBJECT (Color)')|
                           (academy_db['category'] == 'SHORT SUBJECT (One-reel)')|
                           (academy_db['category'] ==  'SHORT SUBJECT (Two-reel)')|
                           (academy_db['category'] == 'IRVING G. THALBERG MEMORIAL AWARD')|
                           (academy_db['category'] ==  'DOCUMENTARY (Short Subject)')|
                           (academy_db['category'] == 'SPECIAL FOREIGN LANGUAGE FILM AWARD')|
                           (academy_db['category'] == 'HONORARY FOREIGN LANGUAGE FILM AWARD')|
                           (academy_db['category'] == 'HONORARY AWARD')|
                           (academy_db['category'] == 'DOCUMENTARY')|
                           (academy_db['category'] == 'DOCUMENTARY (Feature)')|
                           (academy_db['category'] == 'JEAN HERSHOLT HUMANITARIAN AWARD')|
                            (academy_db['category'] == 'SHORT SUBJECT (Live Action)')|
                            (academy_db['category'] == 'SHORT SUBJECT (Animated)')|
                            (academy_db['category'] == 'SPECIAL ACHIEVEMENT AWARD (Visual Effects)')|
                            (academy_db['category'] == 'SHORT FILM (Animated)')|
                            (academy_db['category'] == 'SHORT FILM (Live Action)')|
                           (academy_db['category'] == 'SPECIAL ACHIEVEMENT AWARD (Sound Effects)')|
                           (academy_db['category'] == 'SPECIAL ACHIEVEMENT AWARD (Sound Editing)')|
                           (academy_db['category'] == 'SHORT FILM (Dramatic Live Action)')|
                           (academy_db['category'] == 'ANIMATED FEATURE FILM')|
                           (academy_db['category'] == 'INTERNATIONAL FEATURE FILM')].index

#indexNames = df[~(df['name'] == 'john')].index 
academy_db.drop(indexNames , inplace=True)

In [10]:
    #LEFTOVERS   
       'ENGINEERING EFFECTS', ,
       'UNIQUE AND ARTISTIC PICTURE', ,
       , 'WRITING (Title Writing)',
       'SPECIAL AWARD', ', , ,
        'SHORT SUBJECT (Cartoon)',
       'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)',
       'ASSISTANT DIRECTOR', 'FILM EDITING', ,
       , 'DANCE DIRECTION', 
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)',
       'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD',

       , 'DOCUMENTARY (Short Subject)',
 
       'DOCUMENTARY',
       ,
       , 'DOCUMENTARY (Feature)',

       
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       ,
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', ,
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       

       ',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       ,
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       ,
      
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
        ,
       
,
      , 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       ,
       
       ,
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 
       ,
       ,
       
       , ,
       'ANIMATED FEATURE FILM', ,
      ,, ,
       'INTERNATIONAL FEATURE FILM'], dtype=object)

'WRITING (Story and Screenplay--written directly for the screen)'

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)',
       'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)',
       'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)',
       'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)',
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)',
       'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD',
       'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)',
       'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS',
       'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)',
       'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'INTERNATIONAL FEATURE FILM'], dtype=object)

In [5]:
#re-labels Outstanding Motion Picture to Best Picture
academy_db['category']=academy_db['category'].replace({'OUTSTANDING MOTION PICTURE':'BEST PICTURE'})

In [6]:
#changed value to binary
academy_db.loc[academy_db["winner"]==False,"winner"]=0
academy_db.loc[academy_db["winner"]==True,"winner"]=1

In [7]:
#adds an empty Type Column
academy_db["category_combined"]=""

In [8]:
academy_db.dropna(subset=['film'],inplace=True)

In [9]:
#adds the combined category value to db

for j, i in academy_db.iterrows():
    found=False
    for x in award_combine:
        if i['category'] in award_combine[x]:
            academy_db['category_combined'][j]=x
            found=True
            break
        if (found==False):
            academy_db['category_combined'][j]=academy_db['category'][j]

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [912]:
academy_db["award_value"]=0

In [913]:
#adds a weight to awards
award_combine.keys()
a_value=1
b_value=2

award_a_value={'WRITING ORIGINAL':a_value, 'WRITING ADAPTED':a_value, 'ACTOR':a_value, 'ACTRESS':a_value, 'BEST PICTURE':a_value, 'DIRECTING':a_value}
award_b_value={'CINEMATOGRAPHY':b_value, 'PRODUCTION DESIGN':b_value,'FILM EDITING':b_value,'ACTOR IN A SUPPORTING ROLE':b_value, 'ACTRESS IN A SUPPORTING ROLE':b_value}

In [914]:
#~~~!!!!!Something is clearly wrong in how the category_combined table is working
#adds the value of award to colum

for j,i in academy_db.iterrows():
    if (i['category_combined'] in award_a_value):
        academy_db['award_value'][j]=award_a_value[i['category_combined']]
    elif (i['category_combined'] in award_b_value):
        academy_db['award_value'][j]=award_b_value[i['category_combined']]
    else:
        academy_db['award_value'][j]=3

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [915]:
year_db=academy_db.groupby(['year_ceremony','category_combined']).count()

In [916]:
#gets the distinct list of awards for each year
awards_per_year={1928:[]}
current_year=1928
for j, i in academy_db.iterrows():
    if (i['year_ceremony']==current_year):
        if (i['category_combined'] not in awards_per_year[current_year]):
            awards_per_year[current_year].append(i['category_combined'])
    else:
        current_year=i['year_ceremony']
        awards_per_year[current_year]=[i['category_combined']]

In [917]:
year_db=academy_db.groupby(['year_ceremony','category_combined']).mean()
year_db.head(5)

                                 year_film  ceremony  award_value
year_ceremony category_combined
1928          ACTOR                   1927         1            1
              ACTRESS                 1927         1            1
              BEST PICTURE            1927         1            1
              CINEMATOGRAPHY          1927         1            2
              DIRECTING               1927         1            1

In [918]:
#gets the total possible award points for each year
year_db=academy_db.groupby(['year_ceremony','category_combined']).mean()

award_value_per_year={1928:0}
current_year=1928

for j, i in year_db.iterrows():
    if (j[0]==current_year):
        award_value_per_year[current_year]=award_value_per_year[current_year]+i['award_value']
    else:
        current_year=j[0]
        award_value_per_year[current_year]=i['award_value']

In [919]:
#gets a list of all the best pic nominees
best_pic_list=academy_db.loc[(academy_db['category_combined']=='BEST PICTURE')].reset_index()['film']
best_pic_array=[]
for i in best_pic_list:
    best_pic_array.append(i)

In [920]:
#gets a list of all the best pic winners
best_pic_list=academy_db.loc[(academy_db['category_combined']=='BEST PICTURE') &
                            academy_db['winner']==1].reset_index()['film']
best_pic_winners=[]
for i in best_pic_list:
    best_pic_winners.append(i)

In [921]:
#resets the index and puts it in an array
best_pic_list=academy_db.loc[(academy_db['category_combined']=='BEST PICTURE')].reset_index()['film']
best_pic_array=[]
for i in best_pic_list:
    best_pic_array.append(i)

In [922]:
#the average score for best pic per year
film_db=academy_db.groupby(['year_ceremony','film']).sum()

current_year=1928
count=0
best_picture_film_count={1928:0}
num_best_pics={1928:0}

for j, i in film_db.iterrows():
    if (j[0]==current_year):
        if (j[1] in best_pic_array):
            count=count+1
            best_picture_film_count[current_year]=best_picture_film_count[current_year]+i['award_value']
    else:
        best_picture_film_count[current_year]=best_picture_film_count[current_year]/count
        num_best_pics[current_year]=count
        current_year=j[0]
        best_picture_film_count[current_year]=0
        count=0
        if (j[1] in best_pic_array):
            count=count+1
            best_picture_film_count[current_year]=best_picture_film_count[current_year]+i['award_value']
            
num_best_pics[current_year]=count
best_picture_film_count[current_year]=best_picture_film_count[current_year]/count

In [923]:
#the total points for all the best pic winners
film_db=academy_db.groupby(['year_ceremony','film']).sum()

current_year=1928
best_picture_film_total={1928:0}

for j, i in film_db.iterrows():
    if (j[0]==current_year):
        if (j[1] in best_pic_array):
            best_picture_film_total[current_year]=best_picture_film_total[current_year]+i['award_value']
    else:
        current_year=j[0]
        best_picture_film_total[current_year]=0
        count=0
        if (j[1] in best_pic_array):
            best_picture_film_total[current_year]=best_picture_film_total[current_year]+i['award_value']

In [924]:
#creates new db for final evalutation
best_film_db=academy_db.groupby(['year_ceremony','film']).sum()
best_film_db.reset_index(inplace=True)
best_film_db=best_film_db[['film','year_ceremony','award_value']]
indexNames=[]

for j, i in best_film_db.iterrows():
    if (i['film'] not in best_pic_array):
        #print(i['film'])
        indexNames.append(j)
    
    

best_film_db.drop(indexNames , inplace=True)

In [925]:
best_film_db

                                 film  year_ceremony  award_value
0                          7th Heaven           1928            6
15                         The Racket           1928            1
18                              Wings           1928            4
20                              Alibi           1929            2
26                    Hollywood Revue           1929            1
...                               ...            ...          ...
3296                     Little Women           2020           11
3298                   Marriage Story           2020            9
3299  Once upon a Time...in Hollywood           2020           19
3301                         Parasite           2020            7
3305                     The Irishman           2020           19

[583 rows x 3 columns]

In [926]:
best_film_db["average_score_for_year"]=""

for j, i in best_film_db.iterrows():
    best_film_db["average_score_for_year"][j]=best_picture_film_count[i['year_ceremony']]
best_film_db

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,film,year_ceremony,award_value,average_score_for_year
0,7th Heaven,1928,6,3.66667
15,The Racket,1928,1,3.66667
18,Wings,1928,4,3.66667
20,Alibi,1929,2,3
26,Hollywood Revue,1929,1,3
...,...,...,...,...
3296,Little Women,2020,11,14.4444
3298,Marriage Story,2020,9,14.4444
3299,Once upon a Time...in Hollywood,2020,19,14.4444
3301,Parasite,2020,7,14.4444
3305,The Irishman,2020,19,14.4444

In [927]:
#difference in value
best_film_db["score_compared_to_avg"]=""

for j, i in best_film_db.iterrows():
    best_film_db["score_compared_to_avg"][j]=best_film_db["award_value"][j]-best_picture_film_count[i['year_ceremony']]
best_film_db.head(10)

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg
0,7th Heaven,1928,6,3.66667,2.33333
15,The Racket,1928,1,3.66667,-2.66667
18,Wings,1928,4,3.66667,0.333333
20,Alibi,1929,2,3,-1
26,Hollywood Revue,1929,1,3,-2
27,In Old Arizona,1929,5,3,2
34,The Broadway Melody,1929,3,3,0
38,The Letter,1929,1,3,-2
39,The Patriot,1929,6,3,3
43,All Quiet on the Western Front,1930,5,5.4,-0.4

In [928]:
#percentage of total possible award points possible
best_film_db["percentage_of_total_possible"]=""

for j, i in best_film_db.iterrows():
    best_film_db["percentage_of_total_possible"][j]=best_film_db["award_value"][j]/award_value_per_year[i['year_ceremony']]
best_film_db

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg,percentage_of_total_possible
0,7th Heaven,1928,6,3.66667,2.33333,0.315789
15,The Racket,1928,1,3.66667,-2.66667,0.0526316
18,Wings,1928,4,3.66667,0.333333,0.210526
20,Alibi,1929,2,3,-1,0.222222
26,Hollywood Revue,1929,1,3,-2,0.111111
...,...,...,...,...,...,...
3296,Little Women,2020,11,14.4444,-3.44444,0.297297
3298,Marriage Story,2020,9,14.4444,-5.44444,0.243243
3299,Once upon a Time...in Hollywood,2020,19,14.4444,4.55556,0.513514
3301,Parasite,2020,7,14.4444,-7.44444,0.189189
3305,The Irishman,2020,19,14.4444,4.55556,0.513514

In [929]:
#percentage of total award points for best picture films normalized for 5 films
best_film_db["percentage_of_total_awarded_points"]=""

for j, i in best_film_db.iterrows():
    best_film_db["percentage_of_total_awarded_points"][j]=(best_film_db["award_value"][j]/best_picture_film_total[i['year_ceremony']])*num_best_pics[i['year_ceremony']]/5
best_film_db.head()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points
0,7th Heaven,1928,6,3.66667,2.33333,0.315789,0.327273
15,The Racket,1928,1,3.66667,-2.66667,0.0526316,0.0545455
18,Wings,1928,4,3.66667,0.333333,0.210526,0.218182
20,Alibi,1929,2,3,-1,0.222222,0.133333
26,Hollywood Revue,1929,1,3,-2,0.111111,0.0666667

In [960]:
academy_db.category_combined.unique()

array(['ACTOR', 'ACTRESS', 'PRODUCTION DESIGN', 'CINEMATOGRAPHY',
       'DIRECTING', 'ENGINEERING EFFECTS', 'BEST PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING ADAPTED',
       'WRITING ORIGINAL', 'WRITING (Title Writing)', 'SOUND MIXING',
       'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC SCORE',
       'SONG ORIGINAL', 'DANCE DIRECTION', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE', 'SPECIAL EFFECTS',
       'COSTUME DESIGN', 'FOREIGN LANGUAGE FILM', 'SOUND EDITING',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)', 'MAKEUP'],
      dtype=object)

In [964]:
best_film_db["DIRECTING"]=0
best_film_db["ACTOR"]=0
best_film_db["ACTRESS"]=0
best_film_db['WRITING ADAPTED']=0
best_film_db['WRITING ORIGINAL']=0
best_film_db['FILM EDITING']=0
best_film_db["PRODUCTION DESIGN"]=0
best_film_db["CINEMATOGRAPHY"]=0
best_film_db['COSTUME DESIGN']=0
best_film_db['MAKEUP']=0
best_film_db['ACTOR IN A SUPPORTING ROLE']=0
best_film_db['ACTRESS IN A SUPPORTING ROLE']=0
best_film_db['SOUND MIXING']=0
best_film_db['SOUND EDITING']=0
best_film_db[ 'MUSIC SCORE']=0
best_film_db['SONG ORIGINAL']=0
best_film_db['SPECIAL EFFECTS']=0

In [965]:
#percentage of total award points for best picture films normalized for 5 films
best_film_db["winner"]=0

for j, i in best_film_db.iterrows():
    if (i['film'] in best_pic_winners):
        best_film_db["winner"][j]=1

best_film_db

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points,winner,Actor_Nominee,Actor_Winner,...,CINEMATOGRAPHY,COSTUME DESIGN,MAKEUP,ACTOR IN A SUPPORTING ROLE,ACTRESS IN A SUPPORTING ROLE,SOUND MIXING,SOUND EDITING,MUSIC SCORE,SONG ORIGINAL,SPECIAL EFFECTS
0,7th Heaven,1928,6,3.66667,2.33333,0.315789,0.327273,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,The Racket,1928,1,3.66667,-2.66667,0.0526316,0.0545455,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Wings,1928,4,3.66667,0.333333,0.210526,0.218182,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Alibi,1929,2,3,-1,0.222222,0.133333,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Hollywood Revue,1929,1,3,-2,0.111111,0.0666667,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3296,Little Women,2020,11,14.4444,-3.44444,0.297297,0.152308,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3298,Marriage Story,2020,9,14.4444,-5.44444,0.243243,0.124615,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3299,Once upon a Time...in Hollywood,2020,19,14.4444,4.55556,0.513514,0.263077,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3301,Parasite,2020,7,14.4444,-7.44444,0.189189,0.0969231,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3305,The Irishman,2020,19,14.4444,4.55556,0.513514,0.263077,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [931]:
#do an itterow
#calculate other categories?!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#percentage of total award points for best picture films normalized for 5 films
#best_film_db["winner"]=0

#for j, i in best_film_db.iterrows():
#    if (i['film'] in best_pic_winners):
#        best_film_db["winner"][j]=1

#best_film_db

In [932]:
#let's create a list of best winners, all the categories they are nominated in and if they won

In [945]:
#removes earlier years 
for_analysis_db=best_film_db.set_index('film')
for_analysis_db=for_analysis_db.loc[for_analysis_db['year_ceremony']>=1935]
for_analysis_db.drop(['year_ceremony','average_score_for_year'], axis=1, inplace=True)
for_analysis_db

,award_value,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points,winner
film,,,,,
Cleopatra,11,5.16667,0.458333,0.377143,0
Flirtation Walk,4,-1.83333,0.166667,0.137143,0
Here Comes the Navy,1,-4.83333,0.0416667,0.0342857,0
Imitation of Life,7,1.16667,0.291667,0.24,0
It Happened One Night,5,-0.833333,0.208333,0.171429,1
...,...,...,...,...,...
Little Women,11,-3.44444,0.297297,0.152308,0
Marriage Story,9,-5.44444,0.243243,0.124615,0
Once upon a Time...in Hollywood,19,4.55556,0.513514,0.263077,0
Parasite,7,-7.44444,0.189189,0.0969231,1
The Irishman,19,4.55556,0.513514,0.263077,0

In [946]:
test_films=for_analysis_db.loc['Pulp Fiction']
test_films[1]

-0.6666666666666661

----------------------------Predict Best Winner---------------------------

In [947]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [948]:
data = for_analysis_db.drop("winner", axis=1)
feature_names = data.columns
data.head()

,award_value,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points
film,,,,
Cleopatra,11,5.16667,0.458333,0.377143
Flirtation Walk,4,-1.83333,0.166667,0.137143
Here Comes the Navy,1,-4.83333,0.0416667,0.0342857
Imitation of Life,7,1.16667,0.291667,0.24
It Happened One Night,5,-0.833333,0.208333,0.171429

In [949]:
target = for_analysis_db["winner"]
target_names = ["loser", "winner"]

In [950]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [951]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8321167883211679

In [952]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8321167883211679

In [953]:
predictions=rf.predict(X_test)
test_results_pd=pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [954]:
#predicted right
print('actual winners:')
a=len(test_results_pd.loc[(test_results_pd['Actual']==1)])
print(a)
b=(len(test_results_pd.loc[(test_results_pd['Prediction']==1) & (test_results_pd['Actual']==1)]))
print('guessed winners:')
print(b)
print('percentage guessed right:')
print (b/a)
test_results_pd.loc[(test_results_pd['Prediction']==1) & (test_results_pd['Actual']==1)]

actual winners:
20
guessed winners:
3
percentage guessed right:
0.15

                    Prediction  Actual
film
Gone with the Wind           1       1
Titanic                      1       1
Ben-Hur                      1       1

In [955]:
#predicted right
print('actual losers:')
a=len(test_results_pd.loc[(test_results_pd['Actual']==0)])
print(a)
b=(len(test_results_pd.loc[(test_results_pd['Prediction']==0) & (test_results_pd['Actual']==0)]))
print('guessed loser:')
print(b)
print('percentage guessed right:')
print (b/a)
#test_results_pd.loc[(test_results_pd['Prediction']==1) & (test_results_pd['Actual']==1)]

actual losers:
117
guessed loser:
111
percentage guessed right:
0.9487179487179487

In [956]:
print('guessed wrong')
len(test_results_pd.loc[(test_results_pd['Prediction']!=test_results_pd['Actual'])])

guessed wrong

23

In [903]:
award_value_per_year

{1928: 19,
 1929: 9,
 1930: 12,
 1931: 10,
 1932: 10,
 1933: 13,
 1935: 24,
 1936: 26,
 1937: 30,
 1938: 30,
 1939: 24,
 1940: 27,
 1941: 27,
 1942: 27,
 1943: 27,
 1944: 27,
 1945: 27,
 1946: 27,
 1947: 27,
 1948: 27,
 1949: 30,
 1950: 30,
 1951: 30,
 1952: 30,
 1953: 30,
 1954: 30,
 1955: 30,
 1956: 30,
 1957: 34,
 1958: 34,
 1959: 34,
 1960: 34,
 1961: 34,
 1962: 34,
 1963: 34,
 1964: 34,
 1965: 34,
 1966: 34,
 1967: 34,
 1968: 34,
 1969: 34,
 1970: 34,
 1971: 34,
 1972: 34,
 1973: 31,
 1974: 31,
 1975: 31,
 1976: 31,
 1977: 31,
 1978: 37,
 1979: 31,
 1980: 34,
 1981: 31,
 1982: 40,
 1983: 37,
 1984: 31,
 1985: 40,
 1986: 37,
 1987: 37,
 1988: 40,
 1989: 37,
 1990: 37,
 1991: 34,
 1992: 37,
 1993: 37,
 1994: 37,
 1995: 37,
 1996: 37,
 1997: 37,
 1998: 37,
 1999: 37,
 2000: 37,
 2001: 37,
 2002: 37,
 2003: 37,
 2004: 40,
 2005: 40,
 2006: 40,
 2007: 40,
 2008: 40,
 2009: 40,
 2010: 40,
 2011: 40,
 2012: 40,
 2013: 40,
 2014: 40,
 2015: 40,
 2016: 40,
 2017: 40,
 2018: 40,
 2019: 40,
 2020: 37}