In [1]:
import pandas as pd

In [2]:
#import the database (from Kaggle)
academy_db=pd.read_csv("Resources/the_oscar_award.csv")
academy_db.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

--------------------DATA CLEANING--------------------

In [3]:
#award names changed over the years so combined similar awards
award_combine={'WRITING ORIGINAL':[ 'WRITING (Motion Picture Story)','WRITING (Original Screenplay)',
            'WRITING (Original Motion Picture Story)','WRITING (Story and Screenplay--written directly for the screen)',
            'WRITING (Story and Screenplay)','WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
            'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
            'WRITING (Story and Screenplay--based on material not previously published or produced)', 'WRITING (Screenplay)',
            'WRITING (Original Story)','WRITING (Screenplay--Original)','WRITING (Screenplay Written Directly for the Screen)',
            'WRITING'],
        'WRITING ADAPTED':['WRITING (Adaptation)', 'WRITING (Adapted Screenplay)', 'WRITING (Screenplay--based on material from another medium)',
            'WRITING (Screenplay Based on Material Previously Produced or Published)',
            'WRITING (Screenplay--Adapted)', 'WRITING (Screenplay Based on Material from Another Medium)',
            'WRITING (Screenplay Adapted from Other Material)'],
        'ACTOR':['ACTOR','ACTOR IN A LEADING ROLE'],
        'ACTRESS':['ACTRESS','ACTRESS IN A LEADING ROLE'],
        'BEST PICTURE':['BEST MOTION PICTURE','OUTSTANDING MOTION PICTURE','OUTSTANDING PRODUCTION', 
                        'OUTSTANDING PICTURE','BEST PICTURE'],
        'DIRECTING':['DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)','DIRECTING'], 
        'COSTUME DESIGN':['COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)'],
            'MUSIC SCORE':['MUSIC (Scoring of Music--adaptation or treatment)','MUSIC (Original Music Score)',
           'MUSIC (Original Score--for a motion picture [not a musical])',
           'MUSIC (Score of a Musical Picture--original or adaptation)',
            'MUSIC (Music Score of a Dramatic or Comedy Picture)','MUSIC (Music Score of a Dramatic Picture)',
            'MUSIC (Scoring of a Musical Picture)','MUSIC (Original Dramatic Score)','MUSIC (Original Musical or Comedy Score)',
            'MUSIC (Original Score)','MUSIC (Scoring)',
            'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
           'MUSIC (Scoring: Adaptation and Original Song Score)',
            'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
            'MUSIC (Music Score--substantially original)','MUSIC (Adaptation Score)',
            'MUSIC (Original Song Score or Adaptation Score)'],  
        'CINEMATOGRAPHY':['CINEMATOGRAPHY (Black-and-White)',
           'CINEMATOGRAPHY (Color)','CINEMATOGRAPHY'],
        'PRODUCTION DESIGN':['PRODUCTION DESIGN','ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)','ART DIRECTION'],
        'SOUND EDITING':['SOUND','SOUND EFFECTS','SOUND EDITING','SOUND EFFECTS EDITING'],
        'SPECIAL EFFECTS':['SPECIAL VISUAL EFFECTS','SPECIAL EFFECTS', 'VISUAL EFFECTS'],
        'SOUND MIXING':['SOUND RECORDING', 'SOUND MIXING'],
        'MAKEUP':['MAKEUP', 'MAKEUP AND HAIRSTYLING'],
        'SONG ORIGINAL':['MUSIC (Song)','MUSIC (Song--Original for the Picture)',
                          'MUSIC (Original Song)','MUSIC (Original Song Score)',
                         'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
                        ]
        
        }
award_combine['SONG ORIGINAL']

['MUSIC (Song)',
 'MUSIC (Song--Original for the Picture)',
 'MUSIC (Original Song)',
 'MUSIC (Original Song Score)',
 'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)']

In [4]:
#drop the following categories
indexNames = academy_db.loc[(academy_db['category'] == 'DOCUMENTARY (Short Subject)') |
                        (academy_db['category'] == 'SPECIAL AWARD') | 
                            (academy_db['category'] =='SHORT SUBJECT (Cartoon)') |
                          (academy_db['category'] == 'SHORT SUBJECT (Comedy)') |
                           (academy_db['category'] == 'SHORT SUBJECT (Novelty)')|
                           (academy_db['category'] == 'SHORT SUBJECT (Color)')|
                           (academy_db['category'] == 'SHORT SUBJECT (One-reel)')|
                           (academy_db['category'] ==  'SHORT SUBJECT (Two-reel)')|
                           (academy_db['category'] == 'IRVING G. THALBERG MEMORIAL AWARD')|
                           (academy_db['category'] ==  'DOCUMENTARY (Short Subject)')|
                           (academy_db['category'] == 'SPECIAL FOREIGN LANGUAGE FILM AWARD')|
                           (academy_db['category'] == 'HONORARY FOREIGN LANGUAGE FILM AWARD')|
                           (academy_db['category'] == 'HONORARY AWARD')|
                           (academy_db['category'] == 'DOCUMENTARY')|
                           (academy_db['category'] == 'DOCUMENTARY (Feature)')|
                           (academy_db['category'] == 'JEAN HERSHOLT HUMANITARIAN AWARD')|
                            (academy_db['category'] == 'SHORT SUBJECT (Live Action)')|
                            (academy_db['category'] == 'SHORT SUBJECT (Animated)')|
                            (academy_db['category'] == 'SPECIAL ACHIEVEMENT AWARD (Visual Effects)')|
                            (academy_db['category'] == 'SHORT FILM (Animated)')|
                            (academy_db['category'] == 'SHORT FILM (Live Action)')|
                           (academy_db['category'] == 'SPECIAL ACHIEVEMENT AWARD (Sound Effects)')|
                           (academy_db['category'] == 'SPECIAL ACHIEVEMENT AWARD (Sound Editing)')|
                           (academy_db['category'] == 'SHORT FILM (Dramatic Live Action)')|
                           (academy_db['category'] == 'ANIMATED FEATURE FILM')|
                           (academy_db['category'] == 'INTERNATIONAL FEATURE FILM')].index

#indexNames = df[~(df['name'] == 'john')].index 
academy_db.drop(indexNames , inplace=True)

In [10]:
    #LEFTOVERS   
       'ENGINEERING EFFECTS', ,
       'UNIQUE AND ARTISTIC PICTURE', ,
       , 'WRITING (Title Writing)',
       'SPECIAL AWARD', ', , ,
        'SHORT SUBJECT (Cartoon)',
       'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)',
       'ASSISTANT DIRECTOR', 'FILM EDITING', ,
       , 'DANCE DIRECTION', 
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)',
       'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD',

       , 'DOCUMENTARY (Short Subject)',
 
       'DOCUMENTARY',
       ,
       , 'DOCUMENTARY (Feature)',

       
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       ,
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', ,
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       

       ',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       ,
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       ,
      
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
        ,
       
,
      , 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       ,
       
       ,
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 
       ,
       ,
       
       , ,
       'ANIMATED FEATURE FILM', ,
      ,, ,
       'INTERNATIONAL FEATURE FILM'], dtype=object)

'WRITING (Story and Screenplay--written directly for the screen)'

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)',
       'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)',
       'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)',
       'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)',
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)',
       'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD',
       'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)',
       'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS',
       'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)',
       'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'INTERNATIONAL FEATURE FILM'], dtype=object)

In [5]:
#re-labels Outstanding Motion Picture to Best Picture
academy_db['category']=academy_db['category'].replace({'OUTSTANDING MOTION PICTURE':'BEST PICTURE'})

In [6]:
#changed value to binary
academy_db.loc[academy_db["winner"]==False,"winner"]=0
academy_db.loc[academy_db["winner"]==True,"winner"]=1

In [7]:
#adds an empty Type Column
academy_db["category_combined"]=""

In [8]:
academy_db.dropna(subset=['film'],inplace=True)

In [9]:
#adds the combined category value to db

for j, i in academy_db.iterrows():
    found=False
    for x in award_combine:
        if i['category'] in award_combine[x]:
            academy_db['category_combined'][j]=x
            found=True
            break
        if (found==False):
            academy_db['category_combined'][j]=academy_db['category'][j]

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [12]:
academy_db['category_combined'][17]

'ENGINEERING EFFECTS'

In [740]:
academy_db["award_value"]=0

In [741]:
#adds a weight to awards
award_combine.keys()
a_value=1
b_value=2

award_a_value={'WRITING ORIGINAL':a_value, 'WRITING ADAPTED':a_value, 'ACTOR':a_value, 'ACTRESS':a_value, 'BEST PICTURE':a_value, 'DIRECTING':a_value}
award_b_value={'CINEMATOGRAPHY':b_value, 'PRODUCTION DESIGN':b_value,'FILM EDITING':b_value,'ACTOR IN A SUPPORTING ROLE':b_value, 'ACTRESS IN A SUPPORTING ROLE':b_value}

In [742]:
len(academy_db)

8416

In [743]:
#~~~!!!!!Something is clearly wrong in how the category_combined table is working
#adds the value of award to colum

for j,i in academy_db.iterrows():
    if (i['category_combined'] in award_a_value):
        academy_db['award_value'][j]=award_a_value[i['category_combined']]
    elif (i['category_combined'] in award_b_value):
        academy_db['award_value'][j]=award_b_value[i['category_combined']]
    else:
        academy_db['award_value'][j]=3

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [744]:
year_db=academy_db.groupby(['year_ceremony','category_combined']).count()

In [745]:
#gets the distinct list of awards for each year
awards_per_year={1928:[]}
current_year=1928
for j, i in academy_db.iterrows():
    if (i['year_ceremony']==current_year):
        if (i['category_combined'] not in awards_per_year[current_year]):
            awards_per_year[current_year].append(i['category_combined'])
    else:
        current_year=i['year_ceremony']
        awards_per_year[current_year]=[i['category_combined']]
        
#test result    
awards_per_year[2020]

['ACTOR',
 'ACTOR IN A SUPPORTING ROLE',
 'ACTRESS',
 'ACTRESS IN A SUPPORTING ROLE',
 'CINEMATOGRAPHY',
 'COSTUME DESIGN',
 'DIRECTING',
 'FILM EDITING',
 'MAKEUP',
 'MUSIC SCORE',
 'SONG ORIGINAL',
 'BEST PICTURE',
 'PRODUCTION DESIGN',
 'SOUND EDITING',
 'SOUND MIXING',
 'SPECIAL EFFECTS',
 'WRITING ADAPTED',
 'WRITING ORIGINAL']

In [746]:
year_db=academy_db.groupby(['year_ceremony','category_combined']).mean()
year_db.head(20)

                                           year_film  ceremony  award_value
year_ceremony category_combined
1928          ACTOR                             1927         1            1
              ACTRESS                           1927         1            1
              BEST PICTURE                      1927         1            1
              CINEMATOGRAPHY                    1927         1            2
              DIRECTING                         1927         1            1
              ENGINEERING EFFECTS               1927         1            3
              PRODUCTION DESIGN                 1927         1            2
              UNIQUE AND ARTISTIC PICTURE       1927         1            3
              WRITING (Title Writing)           1927         1            3
              WRITING ADAPTED                   1927         1            1
              WRITING ORIGINAL                  1927         1            1
1929          ACTOR                             1928         2            1
              ACTRESS                           1928         2            1
              BEST PICTURE                      1928         2            1
              CINEMATOGRAPHY                    1928         2            2
              DIRECTING                         1928         2            1
              PRODUCTION DESIGN                 1928         2            2
              WRITING ORIGINAL                  1928         2            1
1930          ACTOR                             1929         3            1
              ACTRESS                           1929         3            1

In [747]:
#gets the total possible award points for each year
year_db=academy_db.groupby(['year_ceremony','category_combined']).mean()

award_value_per_year={1928:0}
current_year=1928

for j, i in year_db.iterrows():
    if (j[0]==current_year):
        award_value_per_year[current_year]=award_value_per_year[current_year]+i['award_value']
    else:
        current_year=j[0]
        award_value_per_year[current_year]=i['award_value']

In [748]:
#gets a list of all the best pic nominees
best_pic_list=academy_db.loc[(academy_db['category_combined']=='BEST PICTURE')].reset_index()['film']
best_pic_array=[]
for i in best_pic_list:
    best_pic_array.append(i)

In [749]:
#gets a list of all the best pic winners
best_pic_list=academy_db.loc[(academy_db['category_combined']=='BEST PICTURE') &
                            academy_db['winner']==1].reset_index()['film']
best_pic_winners=[]
for i in best_pic_list:
    best_pic_winners.append(i)

In [750]:
#gets a list of all the best winners
best_pic_list=academy_db.loc[(academy_db['category_combined']=='BEST PICTURE')].reset_index()['film']
best_pic_array=[]
for i in best_pic_list:
    best_pic_array.append(i)

In [751]:
#the average score for best pic per year
film_db=academy_db.groupby(['year_ceremony','film']).sum()

current_year=1928
count=0
best_picture_film_count={1928:0}
num_best_pics={1928:0}

for j, i in film_db.iterrows():
    if (j[0]==current_year):
        if (j[1] in best_pic_array):
            count=count+1
            best_picture_film_count[current_year]=best_picture_film_count[current_year]+i['award_value']
    else:
        best_picture_film_count[current_year]=best_picture_film_count[current_year]/count
        num_best_pics[current_year]=count
        current_year=j[0]
        best_picture_film_count[current_year]=0
        count=0
        if (j[1] in best_pic_array):
            count=count+1
            best_picture_film_count[current_year]=best_picture_film_count[current_year]+i['award_value']
            
num_best_pics[current_year]=count
best_picture_film_count[current_year]=best_picture_film_count[current_year]/count

In [752]:
#the total points for all the best pic winners - don't think I need this
film_db=academy_db.groupby(['year_ceremony','film']).sum()

current_year=1928
best_picture_film_total={1928:0}

for j, i in film_db.iterrows():
    if (j[0]==current_year):
        if (j[1] in best_pic_array):
            best_picture_film_total[current_year]=best_picture_film_total[current_year]+i['award_value']
    else:
        current_year=j[0]
        best_picture_film_total[current_year]=0
        count=0
        if (j[1] in best_pic_array):
            best_picture_film_total[current_year]=best_picture_film_total[current_year]+i['award_value']

In [753]:
#creates new db for final evalutation
best_film_db=academy_db.groupby(['year_ceremony','film']).sum()
best_film_db.reset_index(inplace=True)
best_film_db=best_film_db[['film','year_ceremony','award_value']]
indexNames=[]

for j, i in best_film_db.iterrows():
    if (i['film'] not in best_pic_array):
        #print(i['film'])
        indexNames.append(j)
    
    
print(indexNames)
best_film_db.drop(indexNames , inplace=True)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 19, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 35, 36, 37, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 89, 92, 93, 96, 100, 101, 103, 104, 105, 106, 109, 111, 115, 116, 117, 118, 123, 124, 125, 127, 129, 131, 134, 135, 137, 138, 139, 143, 144, 145, 149, 152, 153, 154, 155, 156, 158, 160, 162, 163, 164, 165, 166, 167, 169, 172, 173, 174, 176, 177, 178, 179, 180, 183, 186, 188, 189, 190, 191, 192, 194, 195, 196, 198, 200, 201, 202, 203, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 218, 219, 220, 222, 223, 224, 225, 226, 228, 229, 230, 231, 233, 235, 236, 239, 240, 241, 242, 243, 245, 246, 247, 248, 249, 250, 251, 253, 255, 257, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 271, 272, 273, 274, 275, 277, 278, 280, 281, 283, 284, 286, 287, 288, 289, 290, 291, 292, 294, 295, 296, 298, 300, 301, 302, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 329, 330, 331, 332, 333, 335, 338, 340, 341, 342, 344, 345, 346, 347, 348, 349, 350, 352, 353, 354, 355, 356, 358, 359, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 374, 375, 377, 378, 379, 380, 381, 382, 383, 385, 386, 387, 389, 390, 391, 392, 393, 394, 395, 396, 397, 400, 401, 402, 403, 406, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 429, 430, 431, 433, 434, 435, 436, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 452, 453, 455, 456, 457, 458, 459, 460, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 505, 506, 508, 509, 510, 511, 512, 513, 515, 516, 517, 518, 519, 520, 521, 522, 525, 526, 529, 530, 532, 533, 534, 535, 536, 538, 540, 541, 542, 543, 544, 545, 547, 548, 549, 550, 551, 552, 553, 555, 557, 558, 559, 560, 561, 562, 564, 565, 566, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 587, 588, 590, 592, 594, 595, 596, 597, 599, 600, 601, 602, 603, 604, 605, 607, 608, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 662, 663, 664, 665, 666, 667, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 703, 704, 706, 707, 708, 709, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 737, 739, 740, 741, 742, 743, 744, 745, 747, 748, 749, 750, 751, 752, 753, 755, 756, 757, 758, 760, 761, 762, 763, 764, 765, 766, 767, 769, 770, 772, 774, 775, 776, 777, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 808, 809, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 827, 829, 831, 832, 836, 837, 838, 839, 840, 841, 842, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 867, 868, 869, 870, 872, 873, 875, 876, 878, 879, 880, 881, 882, 883, 885, 886, 888, 889, 890, 891, 892, 893, 894, 895, 896, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 916, 918, 919, 920, 921, 922, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 965, 966, 967, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 982, 983, 984, 985, 986, 987, 988, 989, 990, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1006, 1007, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1035, 1036, 1037, 1039, 1040, 1041, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1061, 1062, 1063, 1064, 1066, 1067, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1090, 1093, 1094, 1095, 1096, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1120, 1121, 1122, 1123, 1125, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1156, 1157, 1158, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1177, 1179, 1180, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1192, 1193, 1194, 1196, 1198, 1199, 1200, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1233, 1234, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1255, 1256, 1257, 1258, 1259, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1287, 1288, 1290, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1313, 1314, 1315, 1316, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1356, 1357, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1378, 1379, 1380, 1381, 1382, 1383, 1385, 1386, 1387, 1389, 1390, 1392, 1393, 1394, 1395, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1424, 1425, 1427, 1428, 1429, 1430, 1431, 1432, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1460, 1461, 1463, 1464, 1465, 1467, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1529, 1530, 1531, 1533, 1534, 1535, 1536, 1538, 1539, 1540, 1541, 1542, 1544, 1545, 1547, 1548, 1550, 1551, 1552, 1553, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1573, 1574, 1575, 1577, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1601, 1603, 1604, 1605, 1606, 1609, 1610, 1611, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1628, 1629, 1631, 1632, 1633, 1634, 1635, 1637, 1638, 1639, 1640, 1641, 1642, 1644, 1646, 1647, 1648, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1664, 1665, 1666, 1667, 1668, 1669, 1671, 1672, 1673, 1674, 1675, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1688, 1689, 1690, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1713, 1714, 1715, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1731, 1732, 1733, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1751, 1752, 1753, 1754, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1774, 1775, 1776, 1777, 1779, 1781, 1782, 1783, 1784, 1786, 1787, 1788, 1789, 1790, 1792, 1793, 1794, 1796, 1797, 1798, 1799, 1800, 1801, 1803, 1804, 1805, 1806, 1809, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1827, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1840, 1841, 1843, 1844, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1861, 1862, 1863, 1864, 1865, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1877, 1878, 1880, 1881, 1882, 1883, 1884, 1886, 1888, 1889, 1890, 1891, 1892, 1894, 1895, 1896, 1897, 1898, 1900, 1901, 1902, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1927, 1929, 1930, 1931, 1933, 1934, 1935, 1936, 1937, 1939, 1940, 1941, 1942, 1943, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1970, 1972, 1973, 1975, 1976, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2001, 2002, 2003, 2004, 2005, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2021, 2023, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2035, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2058, 2061, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2074, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2116, 2117, 2118, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2138, 2139, 2140, 2141, 2143, 2144, 2145, 2146, 2148, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2173, 2174, 2175, 2176, 2177, 2178, 2180, 2181, 2182, 2183, 2184, 2186, 2187, 2188, 2189, 2190, 2192, 2193, 2194, 2195, 2196, 2197, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2226, 2227, 2228, 2229, 2230, 2232, 2234, 2235, 2236, 2237, 2238, 2239, 2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2251, 2252, 2253, 2254, 2255, 2257, 2258, 2259, 2260, 2261, 2263, 2265, 2267, 2268, 2270, 2271, 2272, 2273, 2275, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2291, 2293, 2294, 2295, 2296, 2299, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313, 2314, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2325, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2350, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2377, 2378, 2380, 2381, 2382, 2383, 2384, 2385, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2398, 2399, 2400, 2401, 2402, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2412, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2429, 2430, 2431, 2432, 2433, 2435, 2436, 2437, 2438, 2440, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2461, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2482, 2483, 2484, 2485, 2487, 2488, 2489, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2501, 2502, 2504, 2505, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2517, 2518, 2519, 2520, 2521, 2522, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2554, 2555, 2556, 2557, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566, 2568, 2569, 2570, 2571, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2587, 2588, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598, 2601, 2602, 2603, 2604, 2605, 2607, 2608, 2609, 2610, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626, 2627, 2628, 2629, 2630, 2631, 2632, 2633, 2635, 2637, 2639, 2640, 2641, 2643, 2644, 2645, 2646, 2647, 2648, 2649, 2650, 2651, 2652, 2653, 2654, 2655, 2658, 2659, 2660, 2662, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2673, 2674, 2675, 2677, 2678, 2680, 2681, 2682, 2683, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2693, 2694, 2696, 2697, 2698, 2699, 2700, 2701, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2721, 2722, 2723, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2735, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2757, 2759, 2760, 2762, 2763, 2764, 2765, 2767, 2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2791, 2793, 2795, 2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2810, 2811, 2813, 2815, 2816, 2817, 2818, 2819, 2820, 2821, 2822, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2853, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2863, 2864, 2865, 2866, 2867, 2868, 2869, 2870, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2881, 2882, 2883, 2884, 2885, 2886, 2887, 2888, 2889, 2890, 2891, 2893, 2894, 2895, 2897, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906, 2907, 2908, 2909, 2910, 2912, 2913, 2914, 2915, 2916, 2917, 2919, 2920, 2921, 2922, 2923, 2925, 2926, 2927, 2929, 2930, 2932, 2933, 2935, 2936, 2937, 2938, 2939, 2940, 2941, 2942, 2944, 2945, 2948, 2949, 2950, 2952, 2953, 2954, 2955, 2957, 2958, 2959, 2960, 2962, 2963, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2979, 2980, 2981, 2982, 2983, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2995, 2996, 2997, 2998, 2999, 3004, 3005, 3006, 3007, 3009, 3011, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3022, 3023, 3025, 3026, 3027, 3030, 3031, 3032, 3033, 3034, 3035, 3038, 3040, 3041, 3042, 3044, 3045, 3046, 3048, 3049, 3051, 3054, 3056, 3057, 3058, 3062, 3063, 3064, 3065, 3066, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3078, 3079, 3081, 3082, 3083, 3086, 3087, 3090, 3091, 3092, 3093, 3094, 3096, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105, 3106, 3107, 3108, 3109, 3110, 3113, 3114, 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130, 3132, 3133, 3135, 3137, 3138, 3140, 3141, 3142, 3144, 3145, 3146, 3147, 3148, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158, 3160, 3161, 3163, 3164, 3165, 3167, 3168, 3169, 3170, 3172, 3173, 3174, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3185, 3186, 3187, 3188, 3189, 3191, 3193, 3196, 3197, 3198, 3200, 3202, 3204, 3206, 3207, 3208, 3209, 3210, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219, 3220, 3221, 3223, 3225, 3229, 3230, 3231, 3233, 3234, 3235, 3236, 3237, 3238, 3240, 3241, 3242, 3243, 3244, 3245, 3246, 3249, 3251, 3252, 3253, 3254, 3256, 3257, 3261, 3262, 3263, 3264, 3265, 3266, 3267, 3269, 3270, 3271, 3272, 3273, 3274, 3275, 3277, 3278, 3279, 3281, 3284, 3285, 3286, 3287, 3288, 3290, 3291, 3294, 3295, 3297, 3300, 3302, 3303, 3304, 3306, 3307, 3308, 3309]

In [754]:
best_film_db

                                 film  year_ceremony  award_value
0                          7th Heaven           1928            6
15                         The Racket           1928            1
18                              Wings           1928            4
20                              Alibi           1929            2
26                    Hollywood Revue           1929            1
...                               ...            ...          ...
3296                     Little Women           2020           11
3298                   Marriage Story           2020            9
3299  Once upon a Time...in Hollywood           2020           19
3301                         Parasite           2020            7
3305                     The Irishman           2020           19

[583 rows x 3 columns]

In [755]:
best_film_db["average_score_for_year"]=""

for j, i in best_film_db.iterrows():
    best_film_db["average_score_for_year"][j]=best_picture_film_count[i['year_ceremony']]
best_film_db

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,film,year_ceremony,award_value,average_score_for_year
0,7th Heaven,1928,6,3.66667
15,The Racket,1928,1,3.66667
18,Wings,1928,4,3.66667
20,Alibi,1929,2,3
26,Hollywood Revue,1929,1,3
...,...,...,...,...
3296,Little Women,2020,11,14.4444
3298,Marriage Story,2020,9,14.4444
3299,Once upon a Time...in Hollywood,2020,19,14.4444
3301,Parasite,2020,7,14.4444
3305,The Irishman,2020,19,14.4444

In [756]:
#difference in value
best_film_db["score_compared_to_avg"]=""

for j, i in best_film_db.iterrows():
    best_film_db["score_compared_to_avg"][j]=best_film_db["award_value"][j]-best_picture_film_count[i['year_ceremony']]
best_film_db.head(10)

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg
0,7th Heaven,1928,6,3.66667,2.33333
15,The Racket,1928,1,3.66667,-2.66667
18,Wings,1928,4,3.66667,0.333333
20,Alibi,1929,2,3,-1
26,Hollywood Revue,1929,1,3,-2
27,In Old Arizona,1929,5,3,2
34,The Broadway Melody,1929,3,3,0
38,The Letter,1929,1,3,-2
39,The Patriot,1929,6,3,3
43,All Quiet on the Western Front,1930,5,5.4,-0.4

In [757]:
#percentage of total possible award points possible
best_film_db["percentage_of_total_possible"]=""

for j, i in best_film_db.iterrows():
    best_film_db["percentage_of_total_possible"][j]=best_film_db["award_value"][j]/award_value_per_year[i['year_ceremony']]
best_film_db

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg,percentage_of_total_possible
0,7th Heaven,1928,6,3.66667,2.33333,0.315789
15,The Racket,1928,1,3.66667,-2.66667,0.0526316
18,Wings,1928,4,3.66667,0.333333,0.210526
20,Alibi,1929,2,3,-1,0.222222
26,Hollywood Revue,1929,1,3,-2,0.111111
...,...,...,...,...,...,...
3296,Little Women,2020,11,14.4444,-3.44444,0.297297
3298,Marriage Story,2020,9,14.4444,-5.44444,0.243243
3299,Once upon a Time...in Hollywood,2020,19,14.4444,4.55556,0.513514
3301,Parasite,2020,7,14.4444,-7.44444,0.189189
3305,The Irishman,2020,19,14.4444,4.55556,0.513514

In [758]:
#percentage of total award points for best picture films normalized for 5 films
best_film_db["percentage_of_total_awarded_points"]=""

for j, i in best_film_db.iterrows():
    best_film_db["percentage_of_total_awarded_points"][j]=(best_film_db["award_value"][j]/best_picture_film_total[i['year_ceremony']])*num_best_pics[i['year_ceremony']]/5
best_film_db.head()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points
0,7th Heaven,1928,6,3.66667,2.33333,0.315789,0.327273
15,The Racket,1928,1,3.66667,-2.66667,0.0526316,0.0545455
18,Wings,1928,4,3.66667,0.333333,0.210526,0.218182
20,Alibi,1929,2,3,-1,0.222222,0.133333
26,Hollywood Revue,1929,1,3,-2,0.111111,0.0666667

In [759]:
#percentage of total award points for best picture films normalized for 5 films
best_film_db["winner"]=0

for j, i in best_film_db.iterrows():
    if (i['film'] in best_pic_winners):
        best_film_db["winner"][j]=1

best_film_db

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,film,year_ceremony,award_value,average_score_for_year,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points,winner
0,7th Heaven,1928,6,3.66667,2.33333,0.315789,0.327273,0
15,The Racket,1928,1,3.66667,-2.66667,0.0526316,0.0545455,0
18,Wings,1928,4,3.66667,0.333333,0.210526,0.218182,1
20,Alibi,1929,2,3,-1,0.222222,0.133333,0
26,Hollywood Revue,1929,1,3,-2,0.111111,0.0666667,0
...,...,...,...,...,...,...,...,...
3296,Little Women,2020,11,14.4444,-3.44444,0.297297,0.152308,0
3298,Marriage Story,2020,9,14.4444,-5.44444,0.243243,0.124615,0
3299,Once upon a Time...in Hollywood,2020,19,14.4444,4.55556,0.513514,0.263077,0
3301,Parasite,2020,7,14.4444,-7.44444,0.189189,0.0969231,1
3305,The Irishman,2020,19,14.4444,4.55556,0.513514,0.263077,0

In [760]:
for_analysis_db=best_film_db.set_index('film')
for_analysis_db.drop(['year_ceremony','average_score_for_year'], axis=1, inplace=True)
for_analysis_db

,award_value,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points,winner
film,,,,,
7th Heaven,6,2.33333,0.315789,0.327273,0
The Racket,1,-2.66667,0.0526316,0.0545455,0
Wings,4,0.333333,0.210526,0.218182,1
Alibi,2,-1,0.222222,0.133333,0
Hollywood Revue,1,-2,0.111111,0.0666667,0
...,...,...,...,...,...
Little Women,11,-3.44444,0.297297,0.152308,0
Marriage Story,9,-5.44444,0.243243,0.124615,0
Once upon a Time...in Hollywood,19,4.55556,0.513514,0.263077,0
Parasite,7,-7.44444,0.189189,0.0969231,1
The Irishman,19,4.55556,0.513514,0.263077,0

In [761]:
test_films=for_analysis_db.loc['Pulp Fiction']
test_films[1]

-0.6666666666666661

----------------------------Predict Best Winner---------------------------

In [762]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [763]:
data = for_analysis_db.drop("winner", axis=1)
feature_names = data.columns
data.head()

,award_value,score_compared_to_avg,percentage_of_total_possible,percentage_of_total_awarded_points
film,,,,
7th Heaven,6,2.33333,0.315789,0.327273
The Racket,1,-2.66667,0.0526316,0.0545455
Wings,4,0.333333,0.210526,0.218182
Alibi,2,-1,0.222222,0.133333
Hollywood Revue,1,-2,0.111111,0.0666667

In [764]:
target = for_analysis_db["winner"]
target_names = ["loser", "winner"]

In [770]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [771]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7808219178082192

In [775]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.821917808219178

In [773]:
y_test

film
A Soldier's Story              0
Four Weddings and a Funeral    0
You Can't Take It with You     1
Schindler's List               1
Funny Girl                     0
                              ..
Jojo Rabbit                    0
All That Jazz                  0
Coal Miner's Daughter          0
The Goodbye Girl               0
Broadcast News                 0
Name: winner, Length: 146, dtype: int64

In [586]:
rf.predict([[test_films[0],test_films[1],test_films[2],test_films[3]]])

array([0])